* {
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    background-image: url("./assets/weather.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

.container {
    max-width: 450px;
}

input {
    font-size: 24px !important;
}

input:focus {
    outline: none !important
}

.time {
    max-height: 400px;
    object-fit: cover;
}

.icon {
    position: relative;
    top: -50px;
    width: 100px;
    margin-bottom: -50px;
    border-radius: 100%;
}